<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>

<body>
    <h1><%= title %></h1>

    <% if ( user ) { %>
		<h2>Hello <%=user%> </h2>
		<a href="/logout">Logout</a>
	<% } else { %>
		<a href="/register">Register</a>
		<a href="/login">Login</a>
		<a href="/login2">Login 2</a>
		<a href="/login3">Login 3</a>
		<a href="/view1">View 1</a>
	<% } %>

    <img src="img/khong.jpg" alt="khong logo">
</body>
</html>